<a href="https://colab.research.google.com/github/redwan005/BracU-CSE110-Notes/blob/main/Notes_5_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Sets
-unchangable,, unordered can remove items and add new items\
-doesn't alow duplicate items\
-written with second brackets\

##As the items come randomly so theres no indexing

In [ ]:
#length of a Set :
the_set = {"apple", "banana", "cherry"}
print(len(the_set))

3

##Access Items

In [ ]:
#You cannot access items in a set by referring to an index or a key.
#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
the_set = {"apple", "banana", "cherry"}
for count in the_set :
    print(count)

print("banana" in the_set)

apple
cherry
banana
True

In [ ]:
#Once a set is created, you cannot change its items, but you can add new items.

##Add Items

In [ ]:
#to add an item to a set, use the add() method :
the_set = {"apple", "banana", "cherry"}
the_set.add("orange")
print(the_set)

{'apple', 'cherry', 'banana', 'orange'}

In [ ]:
#or use update() method :
the_set = {"apple", "banana", "cherry"}
add_set = {"mango", "papaya"}
the_set.update(add_set)
print(the_set)

{'cherry', 'mango', 'banana', 'apple', 'papaya'}

In [ ]:
#Add any iterable :
the_set = {"apple", "banana", "cherry"}
add_list = ["kiwi", "orange"]
the_set.update(add_list)
print(the_set)

{'cherry', 'banana', 'orange', 'kiwi', 'apple'}

##Rremove items

In [ ]:
#Use remove() methos
the_set = {"apple", "banana","cherry"}
the_set.remove("banana")  #jodi item exist na koer taile error dekhabe
print(the_set)

{'apple', 'cherry'}

In [ ]:
#Or use discard() method :
the_set = {"apple", "banana", "cherry"}
the_set.discard("apple")
print(the_set)

{'cherry', 'banana'}

In [ ]:
#TO remove the last item use pop() method :
#but as set items are unordered so when u see pop u won't be sure wgich item gets removed
the_set = {"apple", "banana", "cherry"}
the_set.pop()
print(the_set)

{'cherry', 'banana'}

In [ ]:
#You can use clear() method to empty a set
the_set = {"apple", "banana", "cherry"}
the_set.clear()
print(the_set)

set()

In [ ]:
#Using del keyword will completely remove the set
the_set = {"apple", "banana", "cherry"}
del the_set
print(the_set)
#as it doesn't exist it'll print error

##Loop Sets

In [ ]:
#use for loop :

the_set = {"apple", "banana", "cherry"}
for count in the_set :
    print(count)

apple
cherry
banana

##joint sets

In [ ]:
#join two sets :
#use union method (it will create a new set)
set_1 = {"a", "b", "c"}
set_2 = {1, 2, 3}
new_set = set_1.union(set_2)
print(new_set)

{1, 2, 'a', 3, 'c', 'b'}

In [ ]:
#use update to insert new items from another set :
set_1 = {"a", "b", "c"}
set_2 = {1, 2, 3}
set_1.update(set_2)
print(set_1)

{1, 2, 'a', 3, 'c', 'b'}

In [ ]:
#Keep ONLY the Duplicates
#to keep the items that exist in both sets :
a_set = {"apple", "banana", "cherry"}
b_set = {"google", 2, "apple"}

new_set = a_set.intersection(b_set) #etay new variable neoya lagbe cz eta new set banay
#or
a_set.intersection_update(b_set)  #new set banay na so no need for any new variable
print(a_set)

{'apple'}

In [ ]:
#Keep all but not the duplicated :
a_set = {"apple", "banana", "cherry"}
b_set = {"google", 2, "apple"}
a_set.symmetric_difference_update(b_set)  #no need for new variable cz it doesn't create a new set
#or
new_list = a_set.symmetric_difference(b_set) #creates a new set so need a new variable
print(a_set)

{'cherry', 2, 'google', 'banana'}

##Set Methods

In [ ]:
Method      	          Description
add()	                  Adds an element to the set
clear()	                Removes all the elements from the set
copy()	                Returns a copy of the set
difference()	          Returns a set containing the difference between two or more sets
difference_update()	    Removes the items in this set that are also included in another, specified set
discard()	              Remove the specified item
intersection()	        Returns a set, that is the intersection of two other sets
intersection_update()	  Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	          Returns whether two sets have a intersection or not
issubset()	            Returns whether another set contains this set or not
issuperset()	          Returns whether this set contains another set or not
pop()	                  Removes an element from the set
remove()	              Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	  inserts the symmetric differences from this set and another
union()	                Return a set containing the union of sets
update()	              Update the set with the union of this set and others