<a href="https://colab.research.google.com/github/redwan005/BracU-CSE110-Notes/blob/main/Note_3_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Lists

In [ ]:
#It is also possible to use the list() constructor when creating a new list.

the_list = list(("apple", "banana", "cherry"))
print(the_list)

['apple', 'banana', 'cherry']

In [ ]:
#Python Collections (Arrays)

#four collection data type
LIST : ordered, changable, allows duplicate members
Tuple : ordered, unchangable, allows duplicate members, can remove/add items
Set :  unordered, unchangable, uniundexed, no duplicate members
Dictionary : ordered, changable, no duplicate members

#Access Items

In [ ]:
#Access Items
a_list = ["apple", "banana", "cherry"]
print(a_list[1])

#negative indexing
b_list = ["apple", "banana", "cherry"]
print(b_list[-1])

#Range of Indexing (will create a new list)
a_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(a_list[2:5])
print(a_list[:4])    #shurute faka mane zero
print(a_list[2:])    #seshe faka mane last index porjonto
print(a_list[-4:-1]) #pichon dik theke count and last er theke ekta kom

banana
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

In [ ]:
#Check if item exists :
a_list = ["apple", "banana", "cherry"]
if "apple" in a_list :
    print("yes, 'apple' is in the fruits list")

yes, 'apple' is in the fruits list

#Changing List items

In [ ]:
#Changing item value

#to change a perticular item value
a_list = ["apple", "banana", "cherry"]
a_list[1] = "olive"
print(a_list)

#to change a range of item values
b_list = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
b_list [1:3] = ["watermelon", "pinaple"]
print(b_list)

#jodi item er theke beshi insert kori,
c_list = ["apple", "banana", "cherry"]
c_list[1:2] = ["olive", "watermelon"]
print(c_list)

['apple', 'olive', 'cherry']
['apple', 'watermelon', 'pinaple', 'orange', 'kiwi', 'mango']
['apple', 'olive', 'watermelon', 'cherry']

#Adding LIst Items

In [ ]:
#Insert Items
a_list = ["apple", "banana", "cherry"]
a_list.insert(2, "watermelon")    #number diye indexing and key diye new value bujhano hoiche
print(a_list)

#Append Items
b_list = ["apple", "banana", "cherry"]
b_list.append("orange")           #always lastei add kore
print(b_list)

#Extend List(to append elements from another list/tuple/set/dictionary to the current list)
c_list = ["apple", "banana", "cherry"]
x_list = ["mango", "pineapple", "papaya"]
c_list.extend(x_list)
print(c_list)
c_list = ["apple", "banana", "cherry"]
x_tuple = ("kiwi", "orange")
c_list.extend(x_tuple)
\
|print(c_list)

#Removing List Items

In [ ]:
#removing specified item
a_list = ["apple", "banana", "cherry"]
a_list.remove("banana")
print(a_list)


#removing specified index
a_list = ["apple", "banana", "cherry"]
a_list.pop(1)     #specify na kore pop keyword use korle last item remove hobe
print(a_list)
#you can also use del keyword
a_list = ["apple", "banana", "cherry"]
del a_list[0]      #index number na dile pura list delete kore dibe
print(a_list)


#to clear all list items use clear method
a_list = ["apple", "banana", "cherry"]
a_list.clear()
print(a_list)

['apple', 'cherry']
['apple', 'cherry']
['banana', 'cherry']
[]

##LOOP Lists

In [ ]:
##FOR LOOP
#print all items in the lsit, one by one
this_list = ["apple", "banana", "cherry"]
for count in this_list :
    print(count)

#or
a_list = ["ami", "tumi", "she"]
for count in range(len(a_list)) :
    print(a_list[count])

apple
banana
cherry
ami
tumi
she

In [ ]:
##WHILE LOOP
#printing all the index number
a_list = ["apple", "banana", "cherry"]
count = 0
while count < len(a_list) :
    print(a_list[count])
    count = count + 1

apple
banana
cherry

In [ ]:
#LOOPING USING LIST COMPREHENSION
#it's a short hand for loop that will print all items in a list
example_list = ["apple", "banana", "cherry"]
[print(count) for count in example_list]

apple
banana
cherry

[None, None, None]

##List Comprehension

In [ ]:
#a shorter syntex to create a new list based on the values of an existing list
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []

for count in fruits :
    if "a" in count :
        new_list.append(count)
print(new_list)

#same ei jinishtar easy way-
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [count for count in fruits if "a" in count]
print(new_list)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [ ]:
from typing import Iterable
#Syntex
new_list = [expression for item in iterable if condition == True]

##Python - Sort Lists

In [ ]:
#Sort list Alphanumerically, Ascebding, by default:
#Case sensitive, so captital ones will be first
a_list = ["orange", "mango", "iwi", "pineapple", "banana"]
a_list.sort()
print(a_list)

b_list = [100, 50, 65, 82, 23]
b_list.sort()
print(b_list)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [ ]:
#Sort Descending :

a_list = ["orange", "mango", "kiwi", "pineapple", "banana"]
a_list.sort(reverse = True)
print(a_list)

b_list = [100, 50, 65, 82, 23]
b_list.sort(reverse = True)
print(b_list)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

In [ ]:
#Customize Sort Function :

def my_function (n) :
    return abs(n-50)

a_list = [100, 50, 65, 82, 23]
a_list.sort(key = my_function)
print(a_list)

[50, 65, 23, 82, 100]

In [ ]:
#Case Insensitive Sort :
#same as basic sorting

In [ ]:
#Reverse Order :
#main list er item gula ulta vabe thake

##Copy Lists

> [Indented block](https://)

In [ ]:
#use ".copy()" method
a_list = ["apple", "banana", "cherry"]
b_list = a_list.copy()
print(b_list)

#OR
#use "list()" method
a_list = ["apple", "banana", "cherry", "pineapple"]
new_list = list(a_list)
print(new_list)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'pineapple']

##Join Lists

In [ ]:
#join two lists :
list_1 = ["a", "b", "c"]
list_2 = [1, 2, 3]
list_r = list_1 + list_2
print(list_r)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#you can also use appending
list_1 = ["a", "b", "c"]
list_2 = [1, 2, 3]

for count in list_2 :
    list_1.append(count) #append er mddhe count likhsi kn? ar eta kivabe kaj kore?
print(list_1)

#OR
#use extend() method
list_1 = ["a", "b", "c"]
list_2 = [1, 2, 3]

list_1.extend(list_2)
print(list_1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [ ]:
Method	       Description

append()	     Adds an element at the end of the list
clear()	       Removes all the elements from the list
copy()	       Returns a copy of the list
count()	       Returns the number of elements with the specified value
extend()	     Add the elements of a list (or any iterable), to the end of the current list
index()	       Returns the index of the first element with the specified value
insert()	     Adds an element at the specified position
pop()	         Removes the element at the specified position
remove()	     Removes the item with the specified value
reverse()	     Reverses the order of the list
sort()	       Sorts the list

In [ ]:
a = int(input("Dao 1 : "))
b = int(input("Dao 2 : "))
def nafis(a, b) :
  if a < b :
    return True
print(nafis(a, b))

Dao 1 : 1