<a href="https://colab.research.google.com/github/redwan005/BracU-CSE110-Notes/blob/main/notes_1_var%2Cdata_type%2Cnum%2Cstring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = 'awsome'  #global variabl(can be used in or out of afunction and anywhere)
def my_func() :
    x = "fantastic"   #local function(can only be used in this function)
    print("Python is " + x)
my_func()
print("Python is " + x)

Python is fantastic
Python is awsome

In [ ]:
#how to make a local variable to global?
#use global keywaord
def my_func() :
    global x
    x = "fantastic"
my_func()
print("Python is " + x)

Python is fantastic

##Data Types

In [ ]:
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

Python Numbers

In [ ]:
x = str("Hello World")	                           str
x = int(20)	                                        int	        number #(without decimals)
x = float(20.5)	                                    float	      number #(with decimal, can contain an 'e')
x = complex(1j)	                                    complex	    number #(written eith a "j" as thr imaginary part)
x = list(["apple", "banana", "cherry"])	      list
x = tuple(("apple", "banana", "cherry"))	    tuple
x = range(6)	                                      range
x = dict(name="John", age=36)	                   dict
x = set(("apple", "banana", "cherry"))	      set
x = frozenset(("apple", "banana", "cherry"))	frozenset
x = bool(5)	                                       bool
x = bytes(5)	                                      bytes
x = bytearray(5)	                                  bytearray
x = memoryview(bytes(5))	                          memoryview

In [ ]:
#to convert any number to other type just do this
x = 1
y = 3.7
z = 1j
a = float(x)
b = int(y)
c = complex(x)
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))
#complex number can't be changed into any other number type

1.0
3
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#to get a random number from 1 to 9
import random
print(random.randrange(1, 10))

6

Python Strings

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = 5
b = 10
print('redwan \nrahman')

redwan
rahman

In [ ]:
a = 'Hi, world!'
print(a[1])

i

In [ ]:
for x in "banana" :    #interesting way, as strings are arrays
    print(x)

b
a
n
a
n
a

In [ ]:
a = "hi, world!"  #to check length of the string
print(len(a))

10

In [ ]:
#checking a phrase or charecter in a string
text = 'The best things in life are free'
print('free' in text)
#or use-
if 'free' in text :
    print("Yes, 'free' is present")
#& konokichu na thakle in er age not dilei hobe

True
Yes, 'free' is present

In [ ]:
#Slicing strings by indexing
a = "Hi, World!"
print(a[2:5])   #for selected part
print(a[:5])    #for 'from the start x'
print(a[2:])    #for 'from x to the end'

, W
Hi, W
, World!

In [ ]:
#negative indexing
a = "Hi, World!"
print(a[-5:-2])

orl

In [ ]:
#Upper case
a = "hello, world!"
print(a.upper())
#lower case
a = "HELLO, WORLD!"
print(a.lower())

HELLO, WORLD!
hello, world!

In [ ]:
#removing whitespace
a = "   Hello, World!    "
print(a.strip())

Hello, World!

In [ ]:
#replacing strings
a = "Hello, World"
print(a.replace("H", "J"))

Jello, World

In [ ]:
#split string
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [ ]:
#string concatenation
a = "Redwanur"
b = "Rahman"
s_1 = a + b       #to joint many strings togather
s_2 = a + " " + b #to create a space between the strings
print(s_1)
print(s_2)

RedwanurRahman
Redwanur Rahman

In [ ]:
#string format
#use it to joint a string and a number
quantity = 3
item_no = 567
price = 49.95
my_order = "I want {} pieces of item {} for {} dollars."
print(my_order.format(quantity, item_no, price))

#using index number in the bracket to be sure the arguments are placed in the correct order
my_order = "I want to pay {2} dollars for {0} pieces of item {1}."
print(my_order.format(quantity, item_no, price))

I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
#Escape Charecters in python
\'	Single Quote	       #jodi single quoter modhe single quote(' ' ') othoba double quoter moddhe double quote dite hoy, then use this
\\	Backslash           #	jodi 1ta backslash(\) dite hoy then use this
\n	New Line             #	will create a new line
\r	Carriage Return	    # similiar to new line
\t	Tab	                # will make a tab(doule space)
\b	Backspace	          # use it to make a backspace
\f	Form Feed
\ooo	Octal value	      ##A backslash followed by three integers will result in a octal value:
                          txt = "\110\145\154\154\157"
                          print(txt)
                #output = Hello

\xhh	Hex value	        #A backslash followed by an 'x' and a hex number represents a hex value:
                          txt = "\x48\x65\x6c\x6c\x6f"
                          print(txt)
                #output = Hello

In [ ]:
#String methods
#string er jonne pytoner built-in methods

capitalize()	     Converts the first character to upper case
casefold()	       Converts string into lower case
center()	         Returns a centered string
count()	          Returns the number of times a specified value occurs in a string
encode()	         Returns an encoded version of the string
endswith()	       Returns true if the string ends with the specified value
expandtabs()	     Sets the tab size of the string
find()	           Searches the string for a specified value and returns the position of where it was found
format()	         Formats specified values in a string
format_map()	     Formats specified values in a string
index()	          Searches the string for a specified value and returns the position of where it was found
isalnum()	        Returns True if all characters in the string are alphanumeric
isalpha()	        Returns True if all characters in the string are in the alphabet
isdecimal()	      Returns True if all characters in the string are decimals
isdigit()	        Returns True if all characters in the string are digits
isidentifier()	   Returns True if the string is an identifier
islower()	        Returns True if all characters in the string are lower case
isnumeric()	      Returns True if all characters in the string are numeric
isprintable()	    Returns True if all characters in the string are printable
isspace()	        Returns True if all characters in the string are whitespaces
istitle()	        Returns True if the string follows the rules of a title
isupper()	        Returns True if all characters in the string are upper case
join()	           Joins the elements of an iterable to the end of the string
ljust()	          Returns a left justified version of the string
lower()	          Converts a string into lower case
lstrip()	         Returns a left trim version of the string
maketrans()	      Returns a translation table to be used in translations
partition()	      Returns a tuple where the string is parted into three parts
replace()	        Returns a string where a specified value is replaced with a specified value
rfind()	          Searches the string for a specified value and returns the last position of where it was found
rindex()	         Searches the string for a specified value and returns the last position of where it was found
rjust()	          Returns a right justified version of the string
rpartition()	     Returns a tuple where the string is parted into three parts
rsplit()	         Splits the string at the specified separator, and returns a list
rstrip()	         Returns a right trim version of the string
split()	          Splits the string at the specified separator, and returns a list
splitlines()	     Splits the string at line breaks and returns a list
startswith()	     Returns true if the string starts with the specified value
strip()	          Returns a trimmed version of the string
swapcase()	       Swaps cases, lower case becomes upper case and vice versa
title()	          Converts the first character of each word to upper case
translate()	      Returns a translated string
upper()	          Converts a string into upper case
zfill()	          Fills the string with a specified number of 0 values at the beginning