<a href="https://colab.research.google.com/github/redwan005/BracU-CSE110-Notes/blob/main/Notes_4_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple :
-used for storing multiple items in a variable\
-it is orderd and unchangable\
-written with round brackets\
-allows duplicate values\
-items are indexed\
-items can be any data type

In [ ]:
#while creating tuple with one item you have to put a coma in the end
right :
a_tuple = ("apple",)
wrong :
b_tuple = ("apple")

##Access tuple items

In [ ]:
main_tuple = ("apple", "banana", "cherry")
#by refering index number:
print(main_tuple[2])

#negative indexing :
print(main_tuple[-1])

cherry
cherry

In [ ]:
#range of indexing :
main_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(main_tuple[2:5])
#the search will start at index 2(included) and end at index 5(not included)

#first e index number na dile index zero theke shuru hobe
#last e index na dile sesh porjonto jabe

#range of Negative indexing
print(main_tuple[-4:-1])

('cherry', 'orange', 'kiwi')
('orange', 'kiwi', 'melon')

In [ ]:
#checking if the item exists :
the_tuple = ("apple", "banana", "cherry")
if "apple" in the_tuple :
    print("Yes, the item is available.")

##Update Tuple

In [ ]:
#Update Tuple Values :
a_tuple = ("apple", "banana", "cherry")
x_tuple = list(a_tuple)
x_tuple[1] ="kiwi"
a_tuple = tuple(x_tuple)
print(a_tuple)

('apple', 'kiwi', 'cherry')

In [ ]:
#Add Items:
#1 converting
#jehetu tuple unchangable; so first list e convert kore then append kore then abar tuple e convert kora
main_tuple = ("apple", "banana", "cherry")
new = list(main_tuple)
new.append("orange")
main_tuple = tuple(new)
print(main_tuple)

#2 adding tuple to a tuple
a_tuple = ("apple", "banana", "cherry")
b_tuple = ("orange", "grapes")
new_tuple = a_tuple + b_tuple
print(new_tuple)

('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange', 'grapes')

In [ ]:
#Remove Items:
#Convert to lisy then again in tuple

main_tuple = ("apple" ,"banana", "cherry")
convert = list(main_tuple)
convert.remove("apple")
main_tuple = tuple(convert)
print(main_tuple)

#completely tuple ta delete korte :
this_tuple = ("apple", "banana","cherry")
del this_tuple
print(this_tuple) #output will be error cz this tuple dos not exist anymore

('banana', 'cherry')

##Unpack Tuple

In [ ]:
#in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

fruits = ("apple","banana", "cherry")
(green, yellow, red) = fruits     #item gula equal korano
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
#Using Asterisk *
fruits = ("apple", "banana", "cherry", "kiwi", "pineapple")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

#If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left
fruits = ("apple","banana", "cherry", "kiwi", "strawberry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'kiwi', 'pineapple']
apple
['banana', 'cherry', 'kiwi']
strawberry

##Loop Tuples

In [ ]:
#lop through the index numbers:
a_tuple = ("apple", "banana", "cherry")
for count in range(len(a_tuple)) :
    print(a_tuple[count])

apple
banana
cherry

In [ ]:
#using while loop:
a_tuple = ("apple", "banana","cherry")
count = 0
while count < len(a_tuple) :
    print(a_tuple[count])
    count = count + 1

apple
banana
cherry

##join Tuple

In [ ]:
#join two tuple :

tuple_1 = ("a", "b", "c")
tuple_2 = (1, 2, 3)

new_tuple = tuple_1 + tuple_2
print(new_tuple)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#multiply Tuple :
tulpe_1 = ("a", "b", "c")
new_tuple = tuple_1 * 2
print(new_tuple)
#it just makes the items double

('a', 'b', 'c', 'a', 'b', 'c')

##Puthon - Tuple Methods :
count()     :\
Returns the number of times a specified value occurs in a tuple\
index()	    :\
Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
print('test')

test